/* Walsheim */
@font-face {
  font-family: 'GT Walsheim Regular';
  font-weight: 400;
  src: url('GT-Walsheim-Pro-Regular.woff') format('woff');
  font-display: auto;
}
@font-face {
  font-family: 'GT Walsheim Bold';
  font-weight: 700;
  src: url('GT-Walsheim-Pro-Bold.woff') format('woff');
  font-display: auto;
}
@font-face {
  font-family: 'GT Walsheim Light';
  font-weight: 200;
  src: url('GT-Walsheim-Pro-Light.woff') format('woff');
  font-display: auto;
}

/* Freight Text */
@font-face {
  font-family: 'Freight Sans W03 Light';
  src: url('Freight-Sans-W03-Light.woff2') format('woff2'),
    url('Freight-Sans-W03-Light.woff') format('woff');
}
@font-face {
  font-family: 'Freight-Sans-W03-Book';
  src: url('Freight-Sans-W03-Book.woff2') format('woff2'),
    url('Freight-Sans-W03-Book.woff') format('woff');
}
@font-face {
  font-family: 'Freight Sans W03 Book Italic';
  src: url('Freight-Sans-W03-Book-Italic.woff2') format('woff2'),
    url('Freight-Sans-W03-Book-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Freight Sans W03 Bold';
  src: url('Freight-Sans-W03-Bold.woff2') format('woff2'),
    url('Freight-Sans-W03-Bold.woff') format('woff');
}
@font-face {
  font-family: 'FreightText W01 Book';
  src: url('FreightText-W01-Book.woff2') format('woff2'),
    url('FreightText-W01-Book.woff') format('woff');
}
@font-face {
  font-family: 'FreightText W01 Book Italic';
  src: url('FreightText-W01-Book-Italic.woff2') format('woff2'),
    url('FreightText-W01-Book-Italic.woff') format('woff');
}
@font-face {
  font-family: 'FreightText W01 Bold';
  src: url('FreightText-W01-Bold.woff2') format('woff2'),
    url('FreightText-W01-Bold.woff') format('woff');
}
@font-face {
  font-family: 'FreightText W01 Bold Italic';
  src: url('FreightText-W01-Bold-Italic.woff2') format('woff2'),
    url('FreightText-W01-Bold-Italic.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');